/* styles-6 variables smoky #f5f5f5   divide #e8e8e8  hearth #fb866a   */
$theme-color: #4B6A78;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #252a34;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #252a34;
$heart: #252a34;
$backmain: #e8e8e8;
